<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>你听啥.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C24739EB1BD7A6AF006079B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2473A041BD7A6B1006079B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2473A0F1BD7A6B1006079B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
